<li>
  <h3>{{announcement.title}}</h3>
  <p>{{announcement.date}}</p>
  <p>{{announcement.description}}</p>
  <button class="btn btn-success" {{action 'delete' announcement}}>Delete Announcement</button>
</li>
